.leftButton{
    max-width: 40px;
    min-width: 40px;
    margin-right: 10px;
}
.rightButton{
    float: right;
max-width: 40px;
min-width: 40px;
margin-left: 10px;
}
.content{
    position: relative;
    overflow: hidden;
}
.content-inside{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    /* scroll hide in mozilla and edge */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.card{
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 5px;
}
::-webkit-scrollbar {
    /* width: 0px;
    background: transparent; */
    display: none;
    
}
.padding-for-scroll{
    padding: 16px;
}
.max-length{
    max-height: 250px;
}
.article-max-indexpage{
    max-height: 200px;
}
.max-name-width{
    max-width: 400px;
    white-space: initial;
}
