{% extends "base.html" %}
{% load static %}
{% block title_tag %}Technology News, Reviews, Articles, etc | gadgetin.in{% endblock %}
{% block meta_des %}Get the News, Reviews, articles about Indian tech world. Mobiles, Tablets, Earphones, Smartwatches etc...{% endblock %}
{% block content_css %}<link rel="stylesheet" href="{% static 'css/articlehomeviewcss.css' %}">{% endblock %}
{% block content_main %}
<div class="main-color">
    <div class="container">
        <div class="padding-global">
            <div class="white-color d-flex justify-content-center">
                <div class="col-12 col-md-10">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="myCarousel-target active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="myCarousel-target"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="myCarousel-target"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="myCarousel-target"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4" class="myCarousel-target"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for articleList in articles_list %}
                            {% if forloop.counter == 1 %}
                                <div class="carousel-item active">
                                    <a href="/articles/{{articleList.article_name_url}}">
                                        <img src="{{ MEDIA_URL }}{{ articleList.article_thumbnail }}" class="d-block w-100" alt="...">
                                    </a>
                                    <div class="carousel-caption d-none d-md-block">
                                        <a href="/articles/{{articleList.article_name_url}}">
                                            <h5>{{ articleList.article_name }}</h5>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                            <div class="carousel-item">
                                <a href="/articles/{{articleList.article_name_url}}">
                                    <img src="{{ MEDIA_URL }}{{ articleList.article_thumbnail }}" class="d-block w-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <a href="/articles/{{articleList.article_name_url}}">
                                        <h5>{{ articleList.article_name }}</h5>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <div class="row">
                    <div class="col-12">
                        <div style="float: left;">
                            <h1>News</h1>
                        </div>
                        <div style="float: right;">
                            <!-- <a href="/articles/">View more..</a> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content d-flex" id="content-review">
                            <div class="leftButton align-self-center d-none d-sm-block">
                                <a href="#" id="left-button-news"><img
                                        src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                            </div>
                            <div class="content-inside align-self-center" id="content-inside-news">
                                {% for articleList in news %}
                                <div class="card row padding-for-scroll">
                                    <a href="/articles/{{ articleList.article_name_url }}/">
                                        <div class="col-12 d-flex justify-content-center">
                                            <img class="article-max-indexpage"
                                                src="{{ MEDIA_URL }}{{ articleList.article_thumbnail }}" />
                                        </div>
                                        <div class="col-12 d-flex justify-content-center max-name-width">
                                           <h6>{{ articleList.article_name }}</h6>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="rightButton align-self-center d-none d-sm-block">
                                <a href="#" id="right-button-news"><img
                                        src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <div class="row">
                    <div class="col-12">
                        <div style="float: left;">
                            <h1>How to???</h1>
                        </div>
                        <div style="float: right;">
                            <!-- <a href="/articles/">View more..</a> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content d-flex" id="content-review">
                            <div class="leftButton align-self-center d-none d-sm-block">
                                <a href="#" id="left-button-howto"><img
                                        src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                            </div>
                            <div class="content-inside align-self-center" id="content-inside-howto">
                                {% for articleList in howto %}
                                <div class="card row padding-for-scroll">
                                    <a href="/articles/{{ articleList.article_name_url }}/">
                                        <div class="col-12 d-flex justify-content-center">
                                            <img class="article-max-indexpage"
                                                src="{{ MEDIA_URL }}{{ articleList.article_thumbnail }}" />
                                        </div>
                                        <div class="col-12 d-flex justify-content-center max-name-width">
                                           <h6>{{ articleList.article_name }}</h6>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="rightButton align-self-center d-none d-sm-block">
                                <a href="#" id="right-button-howto"><img
                                        src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <div class="row">
                    <div class="col-12">
                        <div style="float: left;">
                            <h1>Reviews</h1>
                        </div>
                        <div style="float: right;">
                            <!-- <a href="/articles/">View more..</a> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content d-flex" id="content-review">
                            <div class="leftButton align-self-center d-none d-sm-block">
                                <a href="#" id="left-button-reviews"><img
                                        src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                            </div>
                            <div class="content-inside align-self-center" id="content-inside-reviews">
                                {% for articleList in reviews %}
                                <div class="card row padding-for-scroll">
                                    <a href="/articles/{{ articleList.article_name_url }}/">
                                        <div class="col-12 d-flex justify-content-center">
                                            <img class="article-max-indexpage"
                                                src="{{ MEDIA_URL }}{{ articleList.article_thumbnail }}" />
                                        </div>
                                        <div class="col-12 d-flex justify-content-center max-name-width">
                                           <h6>{{ articleList.article_name }}</h6>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="rightButton align-self-center d-none d-sm-block">
                                <a href="#" id="right-button-reviews"><img
                                        src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_js %}<script src="{% static 'js/articlehomeviewjs.js'%}"></script>{% endblock %}