{% extends "base.html" %}
{% load static %}
{% block title_tag %}{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_name }} | gadgetin.in{% endfor %}{% endblock %}
{% block meta_des %}{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_description }}{% endfor %}{% endblock %}
{% block content_css %}<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <meta property="og:url" content="https://www.gadgetin.in/articles/{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_name_url }}{% endfor %}/"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_name }}{% endfor %}"/>  
    <meta property="og:description" content="{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_description }}{% endfor %}"/>
    <meta property="og:image" itemprop="image" content="https://storage.googleapis.com/gadget_india_bucket/{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_thumbnail }}/{% endfor %}">{% endblock %}
{% block content_amp %}<link rel="amphtml" href="https://www.gadgetin.in/articles/{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_name_url }}{% endfor %}/amp/">{% endblock %}
{% block content_main %}
<link itemprop="thumbnailUrl" href="https://storage.googleapis.com/gadget_india_bucket/{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_thumbnail }}{% endfor %}">
<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
<link itemprop="url" href="https://storage.googleapis.com/gadget_india_bucket/{% for dynamicArticles in dynamic_articles %}{{ dynamicArticles.article_thumbnail }}{% endfor %}">
</span>
<div class="main-color">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="padding-global">
                    <div class="white-color">
                        <div style="font-family: 'Merienda', cursive;">
                            {% for dynamicArticles in dynamic_articles %}
                            <h3>{{ dynamicArticles.article_name }}</h3>
                            <p>Date:{{dynamicArticles.release_date}} {% if dynamicArticles.release_time != null %}{{dynamicArticles.release_time}}{% endif %}</p>
                            <div class="d-flex justify-content-center">
                                <img style="max-height: 325px;" class="img-fluid img-thumbnail"
                                    src="{{ MEDIA_URL }}{{ dynamicArticles.article_thumbnail }}" alt="article image" />
                            </div>
                            <div>
                                {{ dynamicArticles.content | safe }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="padding-global">
                    <div class="white-color">
                        <h4>Latest News</h4>
                        <hr>
                        {% for relatedArticles in related_articles %}
                        <a href="/articles/{{relatedArticles.article_name_url}}">
                            <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}{{ relatedArticles.article_thumbnail }}"
                                alt="article image" />
                            <p>{{ relatedArticles.article_name }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                {% for earWearList in dynamic_articles %}
                {% if earWearList.which_earbud.all %}
                <div class="padding-global">
                    <div class="white-color">
                        <h4>Related Earwears</h4>
                        <hr>  
                        <div class="row">
                            {% for earWear in earWearList.which_earbud.all %}
                            <div style="margin: 0px;" class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 card row">
                                <a href="/earwear/{{earWear.earBrandName.ear_brand_name_url}}/{{earWear.ear_name_url}}">
                                    <div class="d-flex justify-content-center">
                                        <img style="max-height: 168px;" class="img-fluid" src="{{ MEDIA_URL }}{{ earWear.ear_picture }}" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        {{ earWear.earBrandName.ear_brand_name }} {{ earWear.ear_name }}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                       Rs. {{ earWear.ear_price }}
                                    </div>
                                </a>
                            </div>   
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-12">
                {% for mobileList in dynamic_articles %}
                {% if mobileList.which_mobile.all %}
                <div class="padding-global">
                    <div class="white-color">
                        <h4>Related Mobiles</h4>
                        <hr>  
                        <div class="row">
                            {% for mobilemany in mobileList.which_mobile.all %}
                            <div style="margin: 0px;" class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 card row">
                                <a href="/{{mobilemany.mobileNames.brandName.brand_name_url}}/{{mobilemany.mobileNames.mobile_name_url}}/?{{mobilemany.mobile_variants_url}}">
                                    <div class="d-flex justify-content-center">
                                        <img style="max-height: 250px;" class="img-fluid" src="{{ MEDIA_URL }}{{ mobilemany.mobileNames.mobile_image }}" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        {{ mobilemany.mobileNames.brandName.brand_name }}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        {{ mobilemany.mobileNames.mobile_name }}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        Rs. {{ mobilemany.mobileGeneral.price}}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        {{ mobilemany.mobile_variants }}
                                    </div>
                                </a>
                            </div>   
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-12">
                {% for wearableList in dynamic_articles %}
                {% if wearableList.which_wearable.all %}
                <div class="padding-global">
                    <div class="white-color">
                        <h4>Related Wearable Devices</h4>
                        <hr>  
                        <div class="row">
                            {% for wearablemany in wearableList.which_wearable.all %}
                            <div style="margin: 0px;" class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 card row">
                                <a href="/wearables/{{wearablemany.wearBrandName.wear_brand_name_url}}/{{wearablemany.wear_name_url}}">
                                    <div class="d-flex justify-content-center">
                                        <img style="max-height: 150px;" class="img-fluid" src="{{ MEDIA_URL }}{{ wearablemany.wear_picture }}" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        {{ wearablemany.wearBrandName.wear_brand_name }} {{ wearablemany.wear_name }}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                       Rs. {{ wearablemany.wear_price }}
                                    </div>
                                </a>
                            </div>   
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <h4>Other Products</h4>
                <table class="table table-responsive-md table-striped">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        {% for reaMobiles in rea_mobiles %}
                            <td><a href="/{{reaMobiles.brandName.brand_name_url}}/{{reaMobiles.mobile_name_url}}"><div><img style="max-height: 250px; min-height: 190px; min-width: 85px;" class="img-fluid"
                                src="{{ MEDIA_URL }}{{ reaMobiles.mobile_image }}" alt="mobile-Image" /></div></a></td>
                            {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Brand<br>Name</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td><a href="/{{reaMobiles.brandName.brand_name_url}}"><div>{{ reaMobiles.brandName.brand_name }}</div></a></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Model<br>Name</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td><a href="/{{reaMobiles.brandName.brand_name_url}}/{{reaMobiles.mobile_name_url}}"><div>{{ reaMobiles.mobile_name }}</div></a></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Price</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td>Rs. {{ reaMobiles.mobile_Variant.all.0.mobileGeneral.price }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">RAM</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td>{{ reaMobiles.mobile_Variant.all.0.mobilePerformance.ram }} GB</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Storage</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td>{{ reaMobiles.mobile_Variant.all.0.mobileStorage.device_storage }} GB</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Processor</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td>{{ reaMobiles.mobile_Variant.all.0.mobilePerformance.processor }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Primary<br>Camera</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td>{{ reaMobiles.mobile_Variant.all.0.mobileCamera.primary_camera_str }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Secondary<br>Camera</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td>{{ reaMobiles.mobile_Variant.all.0.mobileCamera.secondary_camera_str }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Battery</th>
                            {% for reaMobiles in rea_mobiles %}
                            <td>{{ reaMobiles.mobile_Variant.all.0.mobileBattery.battery_capacity }} mAh</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_js %}{% endblock %}