{% extends "base.html" %}
{% load static %}
{% block title_tag %}Compare phones | gadgetin.in{% endblock %}
{% block meta_des %}Compare  and Get full details of Price, Camera, Performance, battery, expert reviews and decide which phone compatible for you{% endblock %}
{% block content_css %}<link rel="stylesheet" href="{% static 'css/compare-phonecss.css' %}">{% endblock %}
{% block content_main %}
<div id="idofOne" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
<div class="main-color">
    <div class="container">
        <div class="padding-global">
            <div class="white-color">
                <h1>Comapare Phone</h1>
                <table class="table table-bordered table-responsive-md">
                    <thead>
                        <tr>
                            <th scope="row">Search</th>
                            <td><form autocomplete="off" method="GET" action="">
                                <div id="myDropdownOne" class="dropdown-contentOne">
                                  <input type="text" class="form-control" name="q" id="searchFieldOne" value="" placeholder="Search Mobiles"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span id="id01One"></span>
                                </div>
                              </form></td>
                            <td><form autocomplete="off" method="GET" action="">
                                <div id="myDropdownTwo" class="dropdown-contentTwo">
                                  <input type="text" class="form-control" name="q" id="searchFieldTwo" value="" placeholder="Search Mobiles"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span id="id01Two"></span>
                                </div>
                              </form></td>
                            <td><form autocomplete="off" method="GET" action="">
                                <div id="myDropdownThree" class="dropdown-contentThree">
                                  <input type="text" class="form-control" name="q" id="searchFieldThree" value="" placeholder="Search Mobiles"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span id="id01Three"></span>
                                </div>
                              </form></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td><div class="row">
                                <div id="nameOne" class="col-12 d-flex justify-content-center">
                                </div>
                                <div id="imageOne" class="col-12 d-flex justify-content-center">
                                    <img style="max-width: 250px;max-height: 250px;" class="img-fluid" src="{% static 'images/icons/phonealt2.png' %}" alt="mobile image"></div>
                            </div>
                            <div id="variantOne" class="col-12 d-flex justify-content-center">
                            </div></td>
                            <td><div class="row">
                                <div id="nameTwo" class="col-12 d-flex justify-content-center">
                                </div>
                                <div id="imageTwo" class="col-12 d-flex justify-content-center">
                                    <img style="max-width: 250px;max-height: 250px;" class="img-fluid" src="{% static 'images/icons/phonealt2.png' %}" alt="mobile image"></div>
                            </div>
                            <div id="variantTwo" class="col-12 d-flex justify-content-center">
                            </div></td>
                            <td><div class="row">
                                <div id="nameThree" class="col-12 d-flex justify-content-center">
                                </div>
                                <div id="imageThree" class="col-12 d-flex justify-content-center">
                                    <img style="max-width: 250px;max-height: 250px;" class="img-fluid" src="{% static 'images/icons/phonealt2.png' %}" alt="mobile image"></div>
                            </div>
                            <div id="variantThree" class="col-12 d-flex justify-content-center">
                            </div></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="4" scope="row">General</th>
                        </tr>
                        <tr>
                            <th scope="row">Price</th>
                            <td id="priceOne"></td>
                            <td id="priceTwo"></td>
                            <td id="priceThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Brand</th>
                            <td id="brandOne"></td>
                            <td id="brandTwo"></td>
                            <td id="brandThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Model</th>
                            <td id="modelOne"></td>
                            <td id="modelTwo"></td>
                            <td id="modelThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">OS</th>
                            <td id="osOne"></td>
                            <td id="osTwo"></td>
                            <td id="osThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">OS Version</th>
                            <td id="osversionOne"></td>
                            <td id="osversionTwo"></td>
                            <td id="osversionThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">UI Version</th>
                            <td id="uiversionOne"></td>
                            <td id="uiversionTwo"></td>
                            <td id="uiversionThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Release Date</th>
                            <td id="releaseOne"></td>
                            <td id="releaseTwo"></td>
                            <td id="releaseThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Slots</th>
                            <td id="slotsOne"></td>
                            <td id="slotsTwo"></td>
                            <td id="slotsThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Weight</th>
                            <td id="weightOne"></td>
                            <td id="weightTwo"></td>
                            <td id="weightThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Dimensions</th>
                            <td id="dimensionOne"></td>
                            <td id="dimensionTwo"></td>
                            <td id="dimensionThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Performance</th>
                        </tr>
                        <tr>
                            <th scope="row">RAM</th>
                            <td id="ramOne"></td>
                            <td id="ramTwo"></td>
                            <td id="ramThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Processor</th>
                            <td id="processorOne"></td>
                            <td id="processorTwo"></td>
                            <td id="processorThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Processor Build</th>
                            <td id="processobuildOne"></td>
                            <td id="processobuildTwo"></td>
                            <td id="processobuildThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Clock Speed</th>
                            <td id="clockspeedOne"></td>
                            <td id="clockspeedTwo"></td>
                            <td id="clockspeedThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Storage</th>
                        </tr>
                        <tr>
                            <th scope="row">Device Storage</th>
                            <td id="storageOne"></td>
                            <td id="storageTwo"></td>
                            <td id="storageThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Expandable Memory</th>
                            <td id="expandablememoryOne"></td>
                            <td id="expandablememoryTwo"></td>
                            <td id="expandablememoryThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Expandable Capacity</th>
                            <td id="expandablecapacityOne"></td>
                            <td id="expandablecapacityTwo"></td>
                            <td id="expandablecapacityThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">OTG Support</th>
                            <td id="otgOne"></td>
                            <td id="otgTwo"></td>
                            <td id="otgThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Sim Slot Type</th>
                            <td id="slottypeOne"></td>
                            <td id="slottypeTwo"></td>
                            <td id="slottypeThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Camera</th>
                        </tr>
                        <tr>
                            <th scope="row">Primary Camera</th>
                            <td id="primarycamOne"></td>
                            <td id="primarycamTwo"></td>
                            <td id="primarycamThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Primary Cam Features</th>
                            <td id="primcamfetuOne"></td>
                            <td id="primcamfetuTwo"></td>
                            <td id="primcamfetuThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Secondary Camera</th>
                            <td id="seondaryCamOne"></td>
                            <td id="seondaryCamTwo"></td>
                            <td id="seondaryCamThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Secondary Cam Features</th>
                            <td id="secondarycamfeatuOne"></td>
                            <td id="secondarycamfeatuTwo"></td>
                            <td id="secondarycamfeatuThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Battery</th>
                        </tr>
                        <tr>
                            <th scope="row">Capacity</th>
                            <td id="batterycapaOne"></td>
                            <td id="batterycapaTwo"></td>
                            <td id="batterycapaThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td id="batterytypeOne"></td>
                            <td id="batterytypeTwo"></td>
                            <td id="batterytypeThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Fast Charger</th>
                            <td id="fastchargerOne"></td>
                            <td id="fastchargerTwo"></td>
                            <td id="fastchargerThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Charger Type</th>
                            <td id="chargertypeOne"></td>
                            <td id="chargertypeTwo"></td>
                            <td id="chargertypeThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Replaceable</th>
                            <td id="replacableOne"></td>
                            <td id="replacableTwo"></td>
                            <td id="replacableThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Display</th>
                        </tr>
                        <tr>
                            <th scope="row">Screen Size</th>
                            <td id="screensizeOne"></td>
                            <td id="screensizeTwo"></td>
                            <td id="screensizeThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Resolutions</th>
                            <td id="resolutionOne"></td>
                            <td id="resolutionTwo"></td>
                            <td id="resolutionThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Resolution Type</th>
                            <td id="resolutiontypeOne"></td>
                            <td id="resolutiontypeTwo"></td>
                            <td id="resolutiontypeThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Display Type</th>
                            <td id="displaytypeOne"></td>
                            <td id="displaytypeTwo"></td>
                            <td id="displaytypeThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">GPU</th>
                            <td id="gpuOne"></td>
                            <td id="gpuTwo"></td>
                            <td id="gpuThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Other Features</th>
                            <td id="screenOtherFetureOne"></td>
                            <td id="screenOtherFetureTwo"></td>
                            <td id="screenOtherFetureThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Connectivity</th>
                        </tr>
                        <tr>
                            <th scope="row">5G</th>
                            <td id="5gOne"></td>
                            <td id="5gTwo"></td>
                            <td id="5gThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">4G</th>
                            <td id="4gOne"></td>
                            <td id="4gTwo"></td>
                            <td id="4gThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">USB Type C</th>
                            <td id="typecOne"></td>
                            <td id="typecTwo"></td>
                            <td id="typecThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">GPS</th>
                            <td id="gpsOne"></td>
                            <td id="gpsTwo"></td>
                            <td id="gpsThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">SAR Value</th>
                            <td id="sarvalueOne"></td>
                            <td id="sarvalueTwo"></td>
                            <td id="sarvalueThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Audio Jack</th>
                            <td id="audiojackOne"></td>
                            <td id="audiojackTwo"></td>
                            <td id="audiojackThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Bluetooth</th>
                            <td id="bluetoothOne"></td>
                            <td id="bluetoothTwo"></td>
                            <td id="bluetoothThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Wi-Fi</th>
                            <td id="wifiOne"></td>
                            <td id="wifiTwo"></td>
                            <td id="wifiThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Sensors</th>
                        </tr>
                        <tr>
                            <th scope="row">Fingerprint Sensor</th>
                            <td id="fingerprintsensorOne"></td>
                            <td id="fingerprintsensorTwo"></td>
                            <td id="fingerprintsensorThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Fingerprint Position</th>
                            <td id="fingerprintpositionOne"></td>
                            <td id="fingerprintpositionTwo"></td>
                            <td id="fingerprintpositionThree"></td>
                        </tr>
                        <tr>
                            <th scope="row">Other Sensors</th>
                            <td id="othersensorsOne"></td>
                            <td id="othersensorsTwo"></td>
                            <td id="othersensorsThree"></td>
                        </tr>
                        <tr>
                            <th colspan="4" scope="row">Other Features</th>
                        </tr>
                        <tr>
                            <th scope="row">Other Features</th>
                            <td id="otherfeaturesOne"></td>
                            <td id="otherfeaturesTwo"></td>
                            <td id="otherfeaturesThree"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_js %}<script src="{% static 'js/compare-phonejs.js'%}"></script>{% endblock %}