{% load static %}
<div style="height: 20px;background-color: #F5FAFE;">
</div>
<div class="top">
    <div class="container d-flex justify-content-center">
      these informations may incorrect, please check before buy
    </div>
<div class="bottom_color">
    <div class="container" style="padding-top: 20px;padding-bottom: 20px;">

        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <img class="img-fluid" src="{% static 'images/image/logowhite.png' %}" alt="gadgetin.in">
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;color: aliceblue;">INFORMATIONS</span><br>
                <a href="/aboutus" style="color: #F5FAFE;">About us</a><br>
                <a href="/contactus" style="color: #F5FAFE;">Contact Us</a><br>
                <a href="/sitemap" style="color: #F5FAFE;">Sitemap</a><br>
                <a href="/privacypolicy" style="color: #F5FAFE;">Privacy Policy</a><br>
                <a href="/termsandconditions" style="color: #F5FAFE;">Terms & Conditions</a><br>

            </div>

            <div style="padding-top: 10px;" class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;color: aliceblue;">SEARCH BY BRAND</span><br>
                <a href="/oppo/" style="color: #F5FAFE;">Oppo</a><br>
                <a href="/vivo/" style="color: #F5FAFE;">Vivo</a><br>
                <a href="/samsung/" style="color: #F5FAFE;">Samsung</a><br>
                <a href="realme/" style="color: #F5FAFE;">Realme</a><br>
                <a href="xiaomi" style="color: #F5FAFE;">Xiaomi</a><br>
            </div>

            <div style="padding-top: 10px;" class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;color: aliceblue;">TOP MOBILES</span><br>
                <a href="/realme/7" style="color: #F5FAFE;">Realme 7</a><br>
                <a href="/poco/x3" style="color: #F5FAFE;">Poco X3</a><br>
                <a href="/realme/7-pro" style="color: #F5FAFE;">Realme 7 Pro</a><br>
                <a href="/poco/m2-pro" style="color: #F5FAFE;">Poco M2 Pro</a><br>
                <a href="/motorola/moto-e7-plus" style="color: #F5FAFE;">Moto E7 Plus</a><br>
            </div>

        </div>

    </div>
</div>


<div class="reserve">
    <div class="container">
        <div class="reservation vertical-center">
        © 2021 gadgetin.in All Rights Reserved.
    </div>
    </div>
</div>