{% load static %}
<div style="height: 20px;background-color: #F5FAFE;">
</div>
<div class="top">
    <div class="container d-flex justify-content-center">
      these informations may incorrect, please check before buy
    </div>
<div class="bottom_color">
    <div class="container" style="padding-top: 20px;padding-bottom: 20px;">

        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <!-- <div class="col-12"> -->
                    <img style="padding-bottom: 10px;" class="img-fluid" src="{% static 'images/image/logowhite.png' %}" alt="gadgetin.in"><br>
                <!-- </div> -->
                <!-- <div class="col-6"> -->
                    <a href="https://www.instagram.com/gadgetin.in/" target="_blank"><img style="max-width: 30px;" class="img-fluid" src="{% static 'images/icons/instagram.png' %}" alt="gadgetin.in"></a>
                    <a href="https://www.facebook.com/gadget.india.in" target="_blank"><img style="max-width: 30px;" class="img-fluid" src="{% static 'images/icons/facebook.png' %}" alt="gadgetin.in"></a>
                    <a href="https://www.youtube.com/channel/UC6StBxxD9JrUZ7QKAq66KQQ" target="_blank"><img style="max-width: 30px;" class="img-fluid" src="{% static 'images/icons/youtube.png' %}" alt="gadgetin.in"></a>
                <!-- </div> -->
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;color: aliceblue;">INFORMATIONS</span><br>
                <a href="/aboutus" style="color: #F5FAFE;">About us</a><br>
                <a href="/contactus" style="color: #F5FAFE;">Contact Us</a><br>
                <a href="/sitemap" style="color: #F5FAFE;">Sitemap</a><br>
                <a href="/privacypolicy" style="color: #F5FAFE;">Privacy Policy</a><br>
                <a href="/termsandconditions" style="color: #F5FAFE;">Terms & Conditions</a><br>

            </div>

            <div style="padding-top: 10px;" class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;color: aliceblue;">SEARCH BY BRAND</span><br>
                <a href="/oppo/" style="color: #F5FAFE;">Oppo</a><br>
                <a href="/vivo/" style="color: #F5FAFE;">Vivo</a><br>
                <a href="/samsung/" style="color: #F5FAFE;">Samsung</a><br>
                <a href="realme/" style="color: #F5FAFE;">Realme</a><br>
                <a href="xiaomi" style="color: #F5FAFE;">Xiaomi</a><br>
            </div>

            <div style="padding-top: 10px;" class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <span style="font-size: 16px;color: aliceblue;">TOP MOBILES</span><br>
                <a href="/oneplus/nord-ce-5g/" style="color: #F5FAFE;">OnePlus Nord CE 5G</a><br>
                <a href="/vivo/y73/" style="color: #F5FAFE;">Vivo Y73</a><br>
                <a href="/iqoo/z3-5g/" style="color: #F5FAFE;">IQOO Z3 5G</a><br>
                <a href="/poco/m3-pro-5g/" style="color: #F5FAFE;">POCO M3 Pro 5G</a><br>
                <a href="/realme/x7-max-5g/" style="color: #F5FAFE;">Realme X7 Max 5G</a><br>
            </div>

        </div>

    </div>
</div>


<div class="reserve">
    <div class="container">
        <div class="reservation vertical-center">
        © 2021 gadgetin.in All Rights Reserved.
    </div>
    </div>
</div>