{% extends "base.html" %}
{% load static %}
{% block title_tag %}Indian Gadget discoverable site | Search Mobiles | Compare Mobiles | Mobile price | Mobile Review | gadgetin.in{% endblock %}
{% block meta_des %}Worried about which gadgets to buy?? Let's explore all the details and news about gadgets in India.{% endblock %}
{% block content_css %}<link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">{% endblock %}
{% block content_main %}
<div class="main-color">
    <div class="container">
        <div class="padding-global">
            <div class="white-color">
                <div class="row">
                    <div class="col-12">
                        <div style="float: left;">
                            <h1>Latest Phones</h1>
                        </div>
                        <div style="float: right;">
                            <a href="/latest-phones/">View more..</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content d-flex" id="content-new">
                            <div class="leftButton align-self-center d-none d-sm-block">
                                <a href="#" id="left-button-new"><img
                                        src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                            </div>
                            <div class="content-inside align-self-center" id="content-inside-new">
                                {% for latestMobile in latest_mobiles %}
                                <div class="card row padding-for-scroll">
                                    <div>
                                    <a href="/{{ latestMobile.brandName.brand_name_url }}/{{ latestMobile.mobile_name_url }}/">
                                        <!-- <div class="row"> -->
                                        <div class="col-12 d-flex justify-content-center">
                                            <img class="max-length"
                                                src="{{ MEDIA_URL }}{{ latestMobile.mobile_image }}" />
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <h6>{{ latestMobile.brandName.brand_name }}</h6>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            {{ latestMobile.mobile_name }}
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            {{ latestMobile.mobile_Variant.all.0.mobileGeneral.price }}
                                        </div>
                                    </a>
                                    <div class="col-12 d-flex justify-content-center">
                                        <select id="target" class="custom-select">
                                            {% for variantsPrice in latestMobile.mobile_Variant.all %}
                                            <option value="1">{{ variantsPrice.mobile_variants }}</option>
                                            <optgroup label="Price: {{ variantsPrice.mobileGeneral.price }}"></optgroup>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="rightButton align-self-center d-none d-sm-block">
                                <a href="#" id="right-button-new"><img
                                        src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <div class="row">
                    <div class="col-12">
                        <div style="float: left;">
                            <h1>Budget Phones</h1>
                        </div>
                        <div style="float: right;">
                            <a href="/budget-phones/">View more..</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content d-flex" id="content-budget">
                            <div class="leftButton align-self-center d-none d-sm-block">
                                <a href="#" id="left-button-budget"><img
                                        src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                            </div>
                            <div class="content-inside align-self-center" id="content-inside-budget">
                                {% for budgetMobile in budget_mobiles %}
                                <div class="card row padding-for-scroll">
                                    <a href="/{{ budgetMobile.mobileNames.brandName.brand_name_url }}/{{ budgetMobile.mobileNames.mobile_name_url }}/?variant={{budgetMobile.mobile_variants_url}}">
                                        <div class="col-12 d-flex justify-content-center">
                                            <img class="max-length"
                                                src="{{ MEDIA_URL }}{{ budgetMobile.mobileNames.mobile_image }}" />
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <h6>{{ budgetMobile.mobileNames.brandName.brand_name }}</h6>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            {{ budgetMobile.mobileNames.mobile_name }}
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            {{ budgetMobile.mobileGeneral.price }}
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            {{ budgetMobile.mobile_variants}}
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="rightButton align-self-center d-none d-sm-block">
                                <a href="#" id="right-button-budget"><img
                                        src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <div class="row">
                    <div class="col-12">
                        <div style="float: left;">
                            <h1>Reviews & News</h1>
                        </div>
                        <div style="float: right;">
                            <a href="/articles/">View more..</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content d-flex" id="content-review">
                            <div class="leftButton align-self-center d-none d-sm-block">
                                <a href="#" id="left-button-review"><img
                                        src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                            </div>
                            <div class="content-inside align-self-center" id="content-inside-review">
                                {% for articleList in articles_list %}
                                <div class="card row padding-for-scroll">
                                    <a href="/articles/{{ articleList.article_name_url }}/">
                                        <div class="col-12 d-flex justify-content-center">
                                            <img class="article-max-indexpage"
                                                src="{{ MEDIA_URL }}{{ articleList.article_thumbnail }}" />
                                        </div>
                                        <div class="col-12 d-flex justify-content-center max-name-width">
                                           <h6>{{ articleList.article_name }}</h6>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            {{ articleList.article_type }}
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="rightButton align-self-center d-none d-sm-block">
                                <a href="#" id="right-button-review"><img
                                        src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <div class="row">
                    <div class="col-12">
                        <div style="float: left;">
                            <h1>Earwear</h1>
                        </div>
                        <div style="float: right;">
                            <a href="/earwear/">View more..</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content d-flex" id="content-earware">
                            <div class="leftButton align-self-center d-none d-sm-block">
                                <a href="#" id="left-button-earware"><img
                                        src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                            </div>
                            <div class="content-inside align-self-center" id="content-inside-earware">
                                {% for earList in ear_wear_list %}
                                <div class="card row padding-for-scroll">
                                    <a href="/earwear/{{earList.earBrandName.ear_brand_name_url}}/{{earList.ear_name_url}}">
                                        <div class="col-12 d-flex justify-content-center">
                                            <img style="max-width: 245px;" class="img-fluid"
                                                src="{{ MEDIA_URL }}{{ earList.ear_picture }}" />
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                           <h6>{{ earList.earBrandName.ear_brand_name }} {{ earList.ear_name }}</h6>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            Rs. {{ earList.ear_price }}
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="rightButton align-self-center d-none d-sm-block">
                                <a href="#" id="right-button-earware"><img
                                        src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-global">
            <div class="white-color">
                <div class="content d-flex" id="content">
                    <div class="leftButton align-self-center d-none d-sm-block">
                        <a href="#" id="left-button"><img src="{% static 'images/icons/arrow-left.svg' %}" /></a>
                    </div>
                    <div class="content-inside align-self-center" id="content-inside">
                        <div class="card"><a href="/realme/"><img src="{% static 'images/image/realme.png' %}" /></a></div>
                        <div class="card"><a href="/oneplus/"><img src="{% static 'images/image/oneplus.png' %}" /></a></div>
                        <div class="card"><a href="/oppo/"><img src="{% static 'images/image/oppo.png' %}" /></a></div>
                        <div class="card"><a href="/vivo/"><img src="{% static 'images/image/vivo.png' %}" /></a></div>
                        <div class="card"><a href="/samsung/"><img src="{% static 'images/image/samsung.png' %}" /></a></div>
                        <div class="card"><a href="/poco/"><img src="{% static 'images/image/poco.png' %}" /></a></div>
                        <div class="card"><a href="/xiaomi/"><img src="{% static 'images/image/xiaomi.png' %}" /></a></div>
                        <div class="card"><a href="/motorola/"><img src="{% static 'images/image/motorola.png' %}" /></a></div>
                        <div class="card"><a href="/apple/"><img src="{% static 'images/image/apple.png' %}" /></a></div>
                        <div class="card"><a href="/nokia/"><img src="{% static 'images/image/nokia.png' %}" /></a></div>
                        <div class="card"><a href="/micromax/"><img src="{% static 'images/image/micromax.png' %}" /></a></div>
                        <div class="card"><a href="/huawei/"><img src="{% static 'images/image/huawei.png' %}" /></a></div>
                    </div>
                    <div class="rightButton align-self-center d-none d-sm-block">
                        <a href="#" id="right-button"><img src="{% static 'images/icons/arrow-right.svg' %}" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content_js %}<script src="{% static 'js/indexjs.js'%}"></script>{% endblock %}