{% extends "base.html" %}
{% load static %}
{% block title_tag %}mobile details{% endblock %}
{% block meta_des %}{% endblock %}
{% block content_css %}{% endblock %}
{% block content_main %}
<div>
    cath
    {{ variant }}
     {% for mobileDetails in mobile_details %}
     {{ mobileDetails.1.mobileNames.mobile_name }}
    <h6>{{ mobileDetails.mobileNames.mobile_name }}</h6>
    <h6>{{ mobileDetails.mobileGeneral.price }}</h6>
     {% endfor %}
</div>
<div>
    <select id="dropDownVariant" class="custom-select">
        {% for mobileDetails in mobile_details %}
        <option value="1">{{ mobileDetails.mobile_variants }}</option>
        <optgroup label="Price: {{ mobileDetails.id }}"></optgroup>
            
            {% endfor %}
    </select>
</div>
{% endblock %}
{% block content_js %}<script src="{% static 'js/mobiledetailsjs.js'%}"></script>{% endblock %}